@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --main_color: theme(colors.main_color);
    --border_color: theme(colors.border_color);

    --font-roboto: 'Roboto', sans-serif;
    /*--font-tajawal: "Tajawal", sans-serif;*/
    --font-noto_naskh: "Noto Naskh Arabic", serif;
}

body {
    font-family: var(--font-roboto);
    /*font-size: 10px !important;*/
    display: grid;

    min-height: 100vh;
    /*height: 100%;*/
}

/* Use Tajawal for specific cases */
.font-noto_naskh {
    font-family: var(--font-noto_naskh);
}

/* Define Roboto weights */
.font-roboto-extralight {
    font-family: var(--font-roboto);
    font-weight: 100;
}
.font-roboto-light {
    font-family: var(--font-roboto);
    font-weight: 300;
}
.font-roboto-medium {
    font-family: var(--font-roboto);
    font-weight: 400;
}
.font-roboto-semi-bold {
    font-family: var(--font-roboto);
    font-weight: 500;
}
.font-roboto-bold {
    font-family: var(--font-roboto);
    font-weight: 700;
}

.font-noto_naskh-medium {
    font-family: var(--font-noto_naskh);
    font-weight: 400;
}
.font-noto_naskh-semibold {
    font-family: var(--font-noto_naskh);
    font-weight: 500;
}
.font-noto_naskh-bold {
    font-family: var(--font-noto_naskh);
    font-weight: 700;
}

.active{
    position: absolute;
    width: 100%;
    background-color: var(--main_color);
    height: 2px;
    bottom: -2px;
}

.no-scroll {
    overflow: hidden;
}

/* Scrollbar */
::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main_color);
}

::-webkit-scrollbar:horizontal {
    height: 0;
}

.search-input-active{
    overflow: hidden !important;
}

/* Remove background color of autofill */
input:-webkit-autofill {

    /*-webkit-text-fill-color: #e5e7eb; !* Text color *!*/
    -webkit-box-shadow: 0 0 0 30px transparent inset !important; /* Transparent background */
    transition: background-color 5000s ease-in-out 0s; /* Transition background */
}

/* Custom Styles For Scrollbar Only In Sign In Page */
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.sm-screens-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.sm-screens-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--main_color);
}
button[aria-label="Close"] {
    padding: 5px;
}
button[aria-label="Close"]:hover{
    background-color: rgba(0, 0, 0, 0.06);
}
.modal-header {
    border-color: var(--border_color) !important;
}

div[tabindex="-1"] {
    height: fit-content;
}

.icon-popup-clip-path {
    clip-path: polygon(0% 0%, 95% 0, 95% 40%, 100% 50%, 95% 60%, 95% 100%, 0 100%);
}

div[aria-describedby="rpv-core__tooltip-body-open"],
div[aria-describedby="rpv-core__tooltip-body-get-file"],
div[aria-describedby="rpv-core__tooltip-body-theme-switch"]
{
    display: none !important;
}

.rpv-toolbar{
    background-color: var(--main_color);
    padding: 10px 0 10px 0;
}

button[aria-label="Search"],
button[aria-label="Previous page"],
button[aria-label="Next page"],
button[aria-label="Zoom out"],
button[aria-label="Zoom in"],
button[aria-label="Zoom document"],
button[aria-label="Switch to the dark theme"],
button[aria-label="Full screen"],
button[aria-label="Print"],
button[aria-label="More actions"],
.rpv-toolbar__label
{
    color: white !important;
}

.rpv-zoom__popover-target-arrow{
    border-color: rgb(255 255 255) rgb(0 0 0 / 0%) rgba(0, 0, 0, 0) !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    button[aria-label="Zoom document"]{
        display: none;
    }

}

div[aria-describedby="rpv-core__tooltip-body-search-popover"],
div[aria-describedby="rpv-core__tooltip-body-page-navigation-previous"],
div[aria-describedby="rpv-core__tooltip-body-page-navigation-next"],
div[aria-describedby="rpv-core__tooltip-body-zoom-out"],
div[aria-describedby="rpv-core__tooltip-body-zoom-in"],
div[aria-describedby="rpv-core__tooltip-body-full-screen-enter"],
div[aria-describedby="rpv-core__tooltip-body-print"],
div[aria-describedby="rpv-core__tooltip-body-toolbar-more-actions"]
{
    display: flex;
    justify-content: center;
    align-items: center;
}

span[data-index="1"],
span[data-index="2"],
span[data-index="3"],
span[data-index="4"]
{
    margin-left: -3px;
}

/* Animations */

/* Slide Down */
.animate-slide-down {
    transform: translateY(-40rem); /* Initial position */
    opacity: 0; /* Initial opacity */
    animation: slideDown 0.5s forwards ease; /* Animation definition */
}

@keyframes slideDown {
    to {
        opacity: 1; /* Target opacity */
        transform: translateY(0); /* Target position */
    }
}

/* Fade in */
.animate-fade-in{
    animation: fadeIn 0.3s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
